.shop-container {
  display: flex;
}
.product-container {
  width: 70%;
  margin: 0px 20px 0px 30px;
  border-right: 1px solid rgb(87, 194, 230);
  padding-right: 10px;
}
.cart-container {
  width: 30%;
}
